$primary-color: #2db2ff;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

html,
textarea,
input,
button {
    font-family: sans-serif;
}

body {
    background-color: rgba($color: $primary-color, $alpha: 0.02);
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@keyframes loading-anim {
    0% {
        background-color: rgba($color: $primary-color, $alpha: 0.02);
    }
    50% {
        background-color: rgba($color: $primary-color, $alpha: 1);
    }
    100% {
        background-color: rgba($color: $primary-color, $alpha: 0.02);
    }
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    div {
        width: 16px;
        height: 16px;
        border-radius: 20px;
        margin: 5px;
        background-color: rgba($color: $primary-color, $alpha: 0.02);
        animation-name: loading-anim;
        animation-duration: 600ms;
        animation-iteration-count: infinite;

        &:nth-child(1) {
            animation-delay: 0ms;
        }
        &:nth-child(2) {
            animation-delay: 100ms;
        }
        &:nth-child(3) {
            animation-delay: 200ms;
        }
    }
}

.nav-bar {
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.5);

    nav {
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: center;
        .nav-logo {
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            margin-right: auto;
        }
        .nav-menu,
        .user-log {
            display: flex;
            flex-direction: row;
            a {
                padding: 10px;
                color: #fff;
                font-size: 1rem;
                border-radius: 10px;
                font-weight: 600;
                transition: all ease-in-out 200ms;
                &:hover {
                    color: $primary-color;
                    background-color: #f5f5f5;
                }
            }
        }
        .user-avater {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #333;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            outline: none;
            p {
                font-weight: 600;
            }
            .user-dropdown-menu {
                display: none;
                position: absolute;
                background-color: $primary-color;
                top: 50px;
                right: 0;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                box-shadow: 0 0px 20px rgba($color: #000, $alpha: 0.2);
                border-radius: 10px;
                width: 200px;
                a {
                    display: block;
                    width: 100%;
                    text-align: start;
                }
            }
        }
    }
}
.tweets-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.tweet-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgba($color: $primary-color, $alpha: 0.3);
    border-radius: 10px;
    margin: 20px 0;
    background-color: #fff;

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .user-avater {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #333;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user-name {
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            padding: 0 10px;
        }
        .user-id {
            color: $primary-color;
        }
    }
    .tweet-text {
        margin: 20px;
        margin-left: 50px;
        padding: 10px;
        padding-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #333;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        a {
            color: $primary-color;
        }
        .date {
            font-size: 0.8rem;
            color: #555;
            margin-top: -2rem;
            margin-left: -10px;
            margin-bottom: 1rem;
        }
    }
    .btns {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        button {
            cursor: pointer;
            width: 100%;
            padding: 14px;
            font-size: 1rem;
            color: #555;
            background-color: rgba($color: $primary-color, $alpha: 0.1);
            border-radius: 10px;
            font-weight: 600;
            border: none;
            margin-right: 20px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
            transition: all ease-in-out 200ms;
            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}
.create-tweet-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: calc(2rem + 30px);
        max-height: calc(2rem + 30px);
        resize: none;
        padding: 10px 20px;
        border: none;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 1rem;
        color: #333;
        outline: none;
        transition: all ease-in-out 200ms;
        &:focus {
            background-color: rgba($color: $primary-color, $alpha: 0.2);
        }
    }
    button {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: $primary-color;
        color: #fff;
        transition: all ease-in-out 200ms;
    }
}

.log-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgba($color: $primary-color, $alpha: 0.3);
    border-radius: 10px;
    background-color: #fff;
    input {
        width: 100%;
        padding: 10px 20px;
        font-size: 1rem;
        color: #333;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        border: none;
        outline: none;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: all ease-in-out 200ms;
        &:focus {
            background-color: rgba($color: $primary-color, $alpha: 0.2);
        }
        &.wrong {
            &:focus {
                background-color: rgba($color: rgb(255, 20, 20), $alpha: 0.2);
            }
        }
        &.right {
            &:focus {
                background-color: rgba($color: rgb(20, 225, 20), $alpha: 0.2);
            }
        }
    }
    button {
        cursor: pointer;
        font-weight: 600;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: rgba($color: $primary-color, $alpha: 1);
        border: none;
        outline: none;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: all ease-in-out 200ms;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        color: #555;
    }
    a {
        font-size: 1rem;
        font-weight: 400;
        color: $primary-color;
        font-weight: 600;
    }
}
